input, button, textarea, select {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.Input {
  line-height: 32px;
  display: flex;
}

.Input textarea {
  padding: 5px;
  line-height: 1.5;
  font-size: 16px;
  color: rgba(60,60,60,1);
  flex-grow: 1;
  background-color: #fff;
}


.Input>button {
  display: none;
}


/* Post click to open reply field */
.Post+.Input textarea {
  height: 50px;
  border: solid 1px rgba(230,230,230,1);
  z-index: 100;
}

/* bottom reply field */
.Container__post-list>.Input textarea {
  height: 100px;
  border: none;
  border-top: solid 1px rgba(230,230,230,1);
}
