.Post {
  display: flex;
}

.Post__thumbnail-container {
  width: 40px;
  height: 40px;
}

.Post__thumbnail-container>img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: solid 2px #e7e0df;
}

.Post p {
  font-size: 14px;
}

.Post__post-container {
  width: 100%;
  min-height: 60px;
  padding: 10px;
  padding-right: 45px;
  overflow: hidden;
  background: #fff;
  border: none;
  text-align: left;
  border-top: solid 1px #e7e0df;
}

.Post__post-message {
  padding: 0;
  background: #fff;
  border: none;
  text-align: left;
}

.Post__post-message blockquote {
  border-left: 3px solid #ccc;
  padding: 0 5px;
  margin: 14px 30px;
}

.Post__post-message pre {
  width: 100%;
  display: block;
  border: 1px solid rgba(0,0,0,.15);
  padding: 8px;
  margin: 5px 0;
  font-size: .75rem;
  line-height: 18px;
  word-wrap: normal;
  white-space: pre;
  overflow-x: auto;
  color: #3e3e3e;
  background-color: #f5f5f5;
  tab-size: 2;
}

.Post__post-message>a {
  word-wrap: break-word;
}

.LikeToggle {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 2px 4px;
  z-index: 5;
  border: solid 1px #e7e0df;
}
.LikeToggle>button {
  font-size: 16px;
  line-height: 1.5;
  z-index: 10;
  color: rgba(255,166,149,1);
}
