.ThreadPost {
    position: absolute;
    bottom: 96px;
    left: 0;
    background-color: white;
    box-shadow: 0px 1px 8px 0 #888888;
    width: 99%;
}

.ThreadPost__container {
    position: relative;
}

.ThreadPost .Post {
    margin-top: 24px;
}

.ThreadPost .PostList__reply-line {
    height: 24px;
}
