.Container__topic-list {
  width: 300px;
  background-color: rgba(245,245,245,1);
  /* background-color: #ff6455; */
  border-right: solid 1px rgba(230,230,230,1);
}

.Container__topic-list ul:first-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Container__topic-list ul:first-of-type li {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Container__topic-list ul:first-of-type li button {
  width: 100%;
  height: 100%;
  padding: 5px;
  font-size: 18px;
  line-height: 1.8;
  color: rgba(100,100,100,1);
  background-color: #fff;
}

.Container__topic-list ul:first-of-type li .TopicList__tablist--selected {
  color: #ffa695;
  background-color: rgba(245,245,245,1);
}


.TopicList__list:last-child {
  margin-bottom: 20px;
}


.TopicList__list {
  padding: 0 15px 15px;
}

.TopicList__list li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 0;
}

.TopicList__list li button {
  width: 280px;
  margin-right: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  line-height: 1.8;
  white-space: nowrap;
  text-align: left;
  color: rgba(100,100,100,1);
  /* color: #fff; */
}




.TopicList__list li span {
  width: 20px;
  padding: 10px 0;
  font-size: 18px;
  line-height: 1.8;
}
